.card {
  width: 70%;
  min-height: 7.7em;
  height: auto;
  background: #cdbdd8;
  border: solid #000 0.2em;
  border-radius: 0.7em;
  margin: 24px 0 24px 0;
  cursor: pointer;
}

.card-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 1.2em;
  color: #000;
}

.icon {
  position: absolute;
  margin: 2px 0 0 10px;
}
