.principal {
  min-height: 100px;
  height: auto;
  width: 100%;
  background-color: #bd9cee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.view-money {
  font-size: 40px;
}

#bank-wice-img {
  margin-top: 10px;
  width: 230px;
  height: 57.5px;
}

@media (min-width: 900px) {
  .principal {
  height: 120px;
  }
}

@media (min-height: 1000px) {
  .principal {
  height: 250px;
  }
}
