body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(to top, #eee2f8, #f1ebfa);
  min-height: 100vh;
}

body::selection {
  background-color: #6f00ff;
  color: #fff;
}

.link-text {
  color: #6f00ff;
}


