.main-section {
  min-height: 90%;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial {
  min-height: 83vh;
  height: auto;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.wice-start {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 20%;
  height: 100%;
  font-weight: bolder;
  gap: 45px;
}

.wice-start span {
  text-align: center;
  font-size: 17px;
}

.initial-options {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  gap: 20%;
  margin-bottom: 3em;
}

#wice-initial-image {
  width: 350px;
  height: 87.5px;
}

.initial-button {
  background: #8600f3;
  color: #fff;
  border-radius: 2px 2px 8px 2px;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  height: 2.6em;
  width: 32%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.initial-button:hover {
  background: #b96afa;
}

@media (min-width: 1000px) {
  .initial {
    grid-template-columns: 1fr 1fr;
  }

  .wice-start {
    margin-top: 150px;
    justify-content: center;
  }

  .initial-options {
    margin-top: 150px;
  }


}

@media (min-width: 638px) {
  #wice-initial-image {
  width: 600px;
  height: 150px;
  }
}