.footer {
  background: rgb(186, 140, 255);
  min-height: 21.8vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}

.footer p {
  text-align: center;
}

.footer a img {
  height: 60px;
  width: 80px;
}
